$border-color-violet: #8f35b5;
$border-color-btnEnter: #8f35b5;
$border-color-pink:  #ff59a3;
$border-color-blue:  #3fcbff;

$text-color-blue: #07207b;

$bg-color-violet: #c882ff;
$bg-color-btnEnter: #8f35b5;
$bg-color-pink: #ff59a3;
$bg-color-blue: #3fcbff;
