.btn-home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 350px;
    padding: 10px;
    margin: 0 20px;
    gap: 5px;
    font-family: inherit;
    font-size: $title-large;
    font-weight: 700;
    border: 1px solid $border-color-violet;
    box-shadow: 1px 1px 20px 2px $border-color-violet;
    border-radius: 20px;
    color: $text-color-blue;
    background: linear-gradient(360deg, #a4db79,#e9ee73);

    &:active{
        transform: scale(0.9);
        transition-duration: 0.1s;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid $border-color-pink;
        background-color: $bg-color-pink;
        transition-duration: 0.4s;
    }

    .img {
        width: 80px;
        height: 80px;

        @include respond-to('middle') {
            max-width: 60px;
            height: 60px;
        }
        @include respond-to('mobile') {
            width: 35px;
            height: 35px;
        }
    }

    .img:hover {
        filter: saturate(1.5);
    }

    @include respond-to('middle') {
        font-size: $text-middle;
        max-width: 165px;
        height: 65px;
    }
    @include respond-to('mobile') {
        padding: 2px;
        gap: 0;
        justify-content: space-between;
        font-size: $text-mobile;
        max-width: 80px;
        height: 60px;
        border-radius: 15px;
    }
}

.btn-restart {
    // width: 250px;
    @include respond-to('mobile') {
        font-size: $sub-text-mobile;
    }
}