@import "./btn-start";

.final-page {
    display: none;
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(360deg, #f84a98,#e454ba,#c465d9,#9375f0,#4084fe);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    transition: transform 0.5 ease;

    .container {
        width: 70vw;
        height: 100%;
        padding: 10px;
        // border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;

        @include respond-to('middle') {
            max-width: 400px;
        }

        @include respond-to('mobile') {
            width: 310px;
        }

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            color: $text-color-blue;
            font-size: $title-large;
            width: max-content;

            @include respond-to('middle') {
                font-size: $title-middle;
            }

            @include respond-to('mobile') {
                font-size: $title-mobile;
            }

            .wrapper-img-result {
                width: 65px;
                height: 65px;
                // border: 1px solid black;
                background-image: url(../../../assets/pictures/star2.png);
                background-size: contain;
                background-repeat: no-repeat;

                @include respond-to('middle') {
                    max-width: 40px;
                    height: 40px;
                }

                @include respond-to('mobile') {
                    width: 40px;
                    height: 30px;
                }
            }

            .wrapper-img-result:hover {
                filter: saturate(2);
            }
        }

        &-answers {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;

            @include respond-to('middle') {
                flex-direction: column;
            }

            @include respond-to('mobile') {
                flex-direction: column;
            }

            h2 {
                gap: 15px;
                color: $text-color-blue;
                font-size: $title-large;

                @include respond-to('middle') {
                    font-size: $text-middle;
                }

                @include respond-to('mobile') {
                    font-size: $text-mobile;
                }
            }
        }
    }

    .img {
        width: 70px;
        height: 70px;

        @include respond-to('middle') {
            max-width: 40px;
            height: 40px;
        }

        @include respond-to('mobile') {
            width: 25px;
            height: 30px;
        }
    }

    .img:hover {
        filter: saturate(2);
    }
}

.active {
    display: block;
}

@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
    50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}


// .game-page {
//     display: none;
// }

// .home-page {
//     display: none;
// }