@import "./calc";
@import "./calcBtn";

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: transform 0.5 ease;

    &-game {
        display: flex;
        height: 100vh;
        width: 70%;
        // border: 1px solid black;
        background: linear-gradient(360deg, #ff59a3, #c882ff, #3fcbff);
        position: relative;

        @include respond-to('middle') {
            width: 65%;
        }

        @include respond-to('mobile') {
            width: 60%;
        }

        .field-wave {
            height: 150px;
            width: 100%;
            background: linear-gradient(180deg, #8f35b5, #542c9a, #07207b);
            z-index: 10;
            position: absolute;
            bottom: 0;

            &-2 {
                height: 150px;
                width: 100%;
                background: linear-gradient(180deg, #8f35b5, #542c9a, #07207b);
                opacity: 0.85;
                z-index: 11;
                position: absolute;
                bottom: 0;
                animation: swell 5s infinite linear alternate;
            }

            .hide {
                display: none;
            }

            @keyframes swell {
                0% {
                    transform: skewY(4deg) translateY(0);
                }
                25% {
                    transform: skewY(1deg) translateY(-5px);
                }
                75% {
                    transform: skewY(-1deg) translateY(5px);
                }
                100% {
                    transform: skewY(-4deg) translateY(0);
                }
            }
        }
    }
}

.container-calc {
    display: flex;
    width: 30%;
    // border: 1px solid black;
    background: linear-gradient(360deg, #a4db79,#e9ee73);
    z-index: 12;

    @include respond-to('middle') {
        width: 35%;
    }

    @include respond-to('mobile') {
        width: 40%;
    }
}

.game-page.up {
    margin-top: -100vh;
}

@media (max-width: 1050px) {
    .container-game {
        width: 60%;
    }

    .container-calc {
        width: 40%;
    }
}

@media (max-width: 540px) {
    .container-game {
        width: 55%;
    }

    .container-calc {
        width: 45%;
    }
}