@import "./btn-start";

.home-page {
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(360deg, #f84a98,#e454ba,#c465d9,#9375f0,#4084fe);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    transition: transform 0.5 ease;

    .container {
        width: 80vw;
        height: 100%;
        // border: 1px solid black ;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.active {
    display: block;
}
 
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
    50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}