@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import "./mixin/adaptive";
@import "./constants/global-variable";
@import "./constants/font-size";
@import "./components/calc";
@import "./components/calcBtn";
@import "./components/btn-start";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;

    &-game {
       width: 70%; 
       
       .field-game {
            height: 100%;
            background: linear-gradient(360deg, #ff59a3,#c882ff,#3fcbff);
            position: relative;
       }

       .field-wave {
            height: 150px;
            width: 70%;
            background: linear-gradient(180deg, #8f35b5,#542c9a,#07207b);
            z-index: 10;
            position: absolute;
            bottom: 0;
        }
    }

    &-calc {
        width: 30%;  
        background: linear-gradient(360deg, #d3e46c,#e1ed94,#eff6ba);
     }

     .drop {
        width: 100px;
        height: 100px;
        margin: 0 50px 20px 0;
        background: linear-gradient(90deg, #70d2ff,#33beff,#3fcbff);
        border-radius: 0 100% 100% 100%;
        transform: rotateZ(45deg);
        position: absolute;
        top: 45%;
        }
}

.timer {
    width: 100px;
    height: 50px;
    color: $text-color-blue;
    border: 1px solid $border-color-violet;
    border-radius: 5px;
    box-shadow: 0 0 15px $border-color-violet;
    position: absolute;
    bottom: 20%;
    text-align: center;
    font-size: $title-large;
}

