@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import "./mixin/adaptive";
@import "./constants/global-variable";
@import "./constants/font-size";
@import "./components/home-page";
@import "./components/game-page";
@import "./components/final-page";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    height: 100vh;
    overflow: hidden;
}

// .home-page {
//     display: none;
// }

.game-page {

    display: none;

    .drop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: $text-large;

        width: 95px;
        height: 95px;
        top: -20px;
        // margin: 20px;
        background: linear-gradient(90deg, #70d2ff, #33beff, #3fcbff);
        border-radius: 0 100% 100%;
        transform: rotateZ(45deg);
        position: absolute;
        transition: opacity 2s ease, transform 2s ease;

        @include respond-to('middle') {
            width: 80px;
            height: 80px;
            font-size: $text-middle;
        }

        @include respond-to('mobile') {
            width: 60px;
            height: 60px;
            font-size: $text-mobile;
        }
    }

    .bonus {
        background: linear-gradient(360deg, #a4db79,#e9ee73);
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
}

.active {
    display: block;
}

.modal,
.modal-falling,
.modal-finish {
    width: 350px;
    padding: 5px;
    border: 5px double $border-color-violet;
    border-radius: 20px;
    font-size: $text-large;
    color: $text-color-blue;
    position: absolute;
    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to('middle') {
        width: 200px;
        height: 75px;
        font-size: $text-middle;
    }

    @include respond-to('mobile') {
        width: 120px;
        height: 65px;
        font-size: $text-mobile;
        padding: 3px;
    }
}

.modal {
    height: 220px;
    right: 20px;
    top: -220px;

    animation: fall 10s linear;
}

.modal-falling {
    height: 220px;
    bottom: -220px;
    left: 20px;

    animation: up 10s linear;

    @include respond-to('mobile') {
        height: 160px;
    }
}

.modal-finish {
    width: 250px;
    height: 80px;
    top: -80px;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fall-center 10s linear;
}

@keyframes fall {
    0% {
        top: -220px;
    }

    50% {
        top: 25vh;
    }

    50% {
        top: 25vh;
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 25vh;
    }
}

@keyframes up {
    0% {
        bottom: -220px;
        opacity: 1;
    }

    50% {
        bottom: 25vh;
        opacity: 1;
    }

    75% {
        bottom: 25vh;
        opacity: 1;
    }

    100% {
        opacity: 0;
        bottom: 25vh;
    }
}

@keyframes fall-center {
    0% {
        top: -80px;
    }

    50% {
        top: 45vh;
    }

    50% {
        top: 45vh;
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 45vh;
    }
}